main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.form-container{
    height: fit-content;
    min-width: 400px;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

   form{
     display: flex;
     flex-direction: column;
     gap: 1rem;

     input{
        border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 10px;
     }
     button{
         border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 10px;
        background-color: skyblue;
        font-weight: 1rem;
        font-size: 1rem;
     }
   }

   .toggleForm{

    cursor: pointer;
    text-decoration: none;
    color: rgb(203, 152, 152);
   }
}
